@font-face {
    font-family: Samim;
    src: url(../fonts/Samim.ttf);
}
@font-face {
    font-family: SamimMed;
    src: url(../fonts/Samim-Medium.ttf);
}
body,*{ font-family: Samim;}
.wrapper { display: flex; width: 100%; }
a, a:hover, a:focus {
    text-decoration: none;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
}
#sidebar {
    width: 380px;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    z-index: 999;
    background: #3F6DC9;
    color: #fff;
    transition: all 0.3s;
    overflow-y: scroll;
    box-shadow: 1px 2px 4px #2a4c90;
}
#sidebar::-webkit-scrollbar { width: 5px; }
#sidebar::-webkit-scrollbar-track { background: transparent; }
#sidebar::-webkit-scrollbar-thumb { background: rgba(255,255,255,.3); }
#sidebar::-webkit-scrollbar-thumb:hover { background: rgba(255,255,255,.6);}
#sidebar.active { right: -380px; }
#sidebar .sidebar-header {
    padding: 20px;
    background: url(../imgs/mask.png)no-repeat;
    background-size: cover;
    display: inline-block;
    width: 100%;
}
.close-menu{
    width: 30px;
    height: 30px;
    line-height: 33px;
    color: #fff !important;
    font-size: 1.2rem;
    float: left;
    background:#2D5CBD;
    text-align: center;
    border-bottom-right-radius: 15px;
    display: none;
}
.status{
    background:#FAFAFA;
    align-items: center;
    padding: 0 15px;
    border-radius: 25px;
    box-shadow: 1px 2px 4px#2D5CBD;
}
.status p{
    margin: 0;
    font-size: .7rem;
    color: #585858;
}
.status p i{
    color: #FF4E4E;
    margin-left: 5px;
    font-size: .7rem;
}
.status a{
    color: #FF9494;
    font-size: .7rem;
    margin-right: 20px;
}
.cir-btn{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #FAFAFA;
    padding: 0;
    margin-right: 25px;
    position: relative;
}
.cir-btn img{ width: 20px; }
.cir-btn .badge{
    position: absolute;
    top: 4px;
    right: 4px;
    background: #FFC3C3;
    color: #F5F5F5;
    border-radius: 50%;
    font-size: .5rem;
}
.edit-btn,.logout-btn{
    width: 38px;
    height: 38px;
    line-height: 38px;
    border-radius: 50%;
    padding: 0;
}
.edit-btn{ background: #FFC3C3; color: #FAFAFA; }
.logout-btn{
    opacity: .4;
    color: #F5F5F5;
    border: 1px solid #F5F5F5;
}
.profile-img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 1px solid #FF4E4E;
    padding: 4px;
    position: relative;
    text-align: center;
}
.profile-img span{
    background:#FAFAFA;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    display: inline-block;
    overflow: hidden;
}
.profile-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.profile-img .cir-btn{
    position: absolute;
    top: 30px;
    right: 0;
    left: 0;
    margin: 0 auto;
    background: none;
}
.profile-img a{
    color: #FF4E4E;
    font-size: .6rem;
    position: absolute;
    bottom: 20px;
    right: 0;
    left: 0;
    line-height: 14px;
} 
.profile-info h3{
    font-size: 1.2rem;
    color: #FAFAFA;
    margin-bottom: 3px;
}
.profile-info p{
    opacity: .4;
    font-size: .7rem;
    margin-bottom: 0;
}
.profile-info .date{ font-family: SamimMed; }
.king-btn{
    width: 32px;
    min-width: 32px;
    height: 32px;
    line-height: 15px;
    border-radius: 50%;
    background-color: #C6C6C6;
    padding: 5px;
    position: absolute;
    top: 1px;
    right: 0;
}
.account-status p{ font-size: .7rem; opacity: .8; }
.account-status .btn{
    font-size: .7rem;
    background: #94B1EA;
    border: none;
}
.two-btns .btn{
    border-radius: 25px;
    color: #fff;
    font-size: .8rem;
}
.two-btns .col-6:first-child .btn{ background: #FFC3C3; color: #585858; }
.two-btns .btn:last-child{ background: #2D5CBD; }
.four-icons p{ font-size: .6rem; margin-bottom: 0; }
.four-icons a{ color: #fff;}
.four-icons p>span{
    font-size: .8rem;;
    display: block;
    font-family: SamimMed;
}
.four-icons .col-3{ padding: 0 5px; }
.four-icons .col-3:after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    height: 34px;
    background-color:#4975cb ;
}
.four-icons .col-3:last-child:after{ display: none; }
.cir-icon{
    width: 28px;
    min-width: 28px;
    height: 28px;
    line-height: 28px;
    border-radius: 50%;
    background-color: #4975cb;
    display: inline-block;
    text-align: center;
    margin-left: 5px
}
.cir-icon img{
    width: 15px;
    height: 15px;
    object-fit: contain;
}
.sidemenu{ padding: 20px; }
#sidebar ul{
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(255,255,255,.2);
}
.main-list li a{
    padding: 8px 12px;
    font-size: .9em;
    display: block;
    color: #fff;
    position: relative;
    z-index: 100;
    margin-bottom: 1px;
}
.main-list li a:hover ,.activeitem a{
    color: #585858 !important;
    background: #fff;
    border-radius: 5px;
}
.main-list li a img{
    width: 18px;
    height: 20px;
    object-fit: contain;
    margin-left: 20px;
}
.main-list li a:hover:after,.activeitem a:after{
    content: '';
    position: absolute;
    right: 7px;
    top: 4px;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background:#3F6DC9;
    z-index: -1;
}
.main-list li a i{ font-size: .8em; margin-top: 5px; }
#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}
.social-link ul{ border: none !important; }
.social-link h3{
    font-size: .9rem;
    margin: 10px 0 0 0;
    display: inline-block;
    width: 100%;
}
.social-link ul li{
    width: 22px;
    height: 22px;
    line-height: 25px;
    border-radius: 50%;
    background: #FAFAFA;
    font-size: .9rem;
    text-align: center;
}
.social-link a{ color: #4975cb; }
.packages h2,.package h2{
    font-family: SamimMed;
    font-size:2rem;
    margin-top: 20px;
    margin-bottom: 0;
}
.packages p{ font-size: .7rem;}
.packages span,.packages-list span{
    font-size: .7rem;
    margin-bottom: 15px;
    display: inline-block;
    top: -6px;
    position: relative;
}
.packages .owl-item{
    z-index: -2;
}
.packages .owl-item > div{
    border-radius: 5px;
    box-shadow: 0px 2px 4px #5275bf;
    position: relative;
    padding-bottom: 40px !important;
    background: #94B1EA;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
}
.packages .owl-item.active.center{ position: initial;}
.packages .owl-item.active.center > div{
    transform: scale(1.1);
    background: #FDBF00;
    z-index: 100;
}
.packages.owl-carousel .owl-stage-outer{ padding: 20px 0;}
.packages .btn{
    font-size: .7rem;
    color: #585858;
    position: absolute;
    bottom: 12px;
    width:80%;
    left: 0;
    right: 0;
    margin: auto;
    padding: 5px;
}
#content{
    width: calc(100% - 380px);
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 380px;
    background: #FAFAFA;
}
.banner{
    /* background-color: #f4bbbb; */
    background: url(../imgs/bg.png)no-repeat right bottom;
    background-size: 60% 100%;
    width: 100%;
    height: 550px;
    position: relative;
    z-index: 10;
}
.banner-img{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 415px;
}
.logo-btn{
    position: fixed;
    top: 40px;
    left: 50px;
    z-index: 100;
}
.logo-btn img{ width: 85px;}
.toggle-btn{
    width: 46px;
    height: 46px;
    line-height: 34px;
    padding: 10px;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    position: fixed;
    top: 50px;
    right: 50px;
    font-size: 1.5rem;
    background-color: #3F6DC9;
    opacity: 0;
    cursor: pointer;
    z-index: 100;
}
.logo-btn{ position: absolute; }
.banner h1{
    color: #585858;
    font-size: 1.7rem;
    width: 400px;
    max-width: 100%;
    position: absolute;
    bottom: 200px;
    left: 100px;
    line-height: 38px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}
.user-data{
    position: absolute;
    bottom: 50px;
    right: 0;
    background: #FFFFFF;
    padding: 25px;
}
.user-data .form-control{
    border: none;
    background: #FAFAFA;
    border-radius: 25px;
    width: 100%;
    font-size: .8rem;
}
.user-data .form-group{
    width: 150px;
    margin-left: 10px;
    margin-bottom: 0;
}
.user-data .btn{
    height: 38px;
    color: #fff;
    background: #F5BBBB;
    border-radius: 25px;
    border: none;
    width: 90px;
}
/* latest-subscribers */
.main-title{ font-size: 1.1rem; color: #585858;font-family: SamimMed;}
.main-title a{
    float: left;
    color: #585858;
    margin-top: 4px;
    font-size: 1rem;
}
.main-title a i{ font-size: .7rem; }
.subscribers-list .col-md-6{ margin-bottom: 30px;}
.subscribers-list img,.stories-item .media img,.notificate-list img{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    object-fit: contain;
}
.subscribers-list .media,.notificate-list .media,.articles-list .media{
    background: #fff;
    border-radius: 5px;
    padding: 12px 15px;
}
.subscribers-list .item-img{ position: relative; }
.status-badge,.star-badge{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #FF4E4E;
    position: absolute;
    right: 0;
    top: 10px;
    border: 1px solid #fff;
}
.star-badge{
    width: 25px;
    height: 25px;
    line-height: 25px;
    color: #FDBF00;
    right: -5px;
    top: 5px;
    font-size: .8rem;
    text-align: center;
}
.star-badge.gray{ background: #C6C6C6;}
.star-badge img{ width: 16px; height: 14px; }
.star-badge.green{ background: #78c858;}
.subscribers-list h5,.notificate-list h5{ font-size: 1rem; }
.subscribers-list p,.notificate-list p{
    margin: 0;
    color: #999;
    font-size: .8rem;
}
.subscribers-list p>i{ padding-left: 5px; color: #585858; }
.subscribers-list .btn,.articles-list .btn{
    color: #585858;
    background: #FFC3C3;
    border-radius: 25px;
    border: none;
    width: 80px;
    font-size: .7rem;
    float: left;
}
.latest-subscribers{ display: inline-block; width: 100%;}
.pager{ float: left;}
.pager .page-link{ 
    background: #FFC3C3; 
    border-color: #FAFAFA;
    color: #585858;
    font-size: .8rem;
}
/* sucsses stories */
.sucsses-stories{
    position: relative;
    z-index: 0;
}
.sucsses-stories .main-title,.sucsses-stories h3>a{ color: #fff; }
.sucsses-stories:after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 50%;
    background-color: #94B1EA;
    z-index: -1;
}
.story-block{
    background: #fff;
    border-radius: 5px;
    padding: 25px;
    box-shadow: 0px 0px 4px #ccc;
    margin-bottom:30px;
}
.stories-item .media img{ width: 90px; height: 90px; }
.stories-item .media-body img{
    width: 38px !important;
    height: 38px !important;
    margin-left: 20px;
}
.stories-item .media-body p{ font-size: .8rem; margin-bottom: 10px; }
.stories-item .media-body p>span{ display: block }
.package-type{ position: relative; }
.package-type span{
    color: #585858;
    background: #FFC3C3;
    border-radius: 25px;
    font-size: .7rem;
    padding:3px 15px;
}
.package-type:after{
    content: '';
    position: absolute;
    top: 22px;
    left: 0;
    height: 1px;
    width: calc(100% - 136px);
    background: #ccc;
}
.story-block .date{
    color: #ccc;
    font-size: .7rem;
    margin-top: 15px;
    display: inline-block;
}
.story-block p{ font-size: .8rem; }
.footer{
    background: #2D5CBD;
    font-size: .8rem;
    color: #fff;
}
.members{
    background: #3F6DC9;
    padding: 10px;
    border-radius: 25px;
    width: 260px;
    justify-content: center;
}
.members p{ margin: 0; margin-left: 20px; }
.members p:last-child{ margin: 0; }
.footer img{ width: 140px; height: 40px; }
.copyright{
    color: #fff;
    background: #174AB3;
    font-size: .7rem;
    padding: 8px;
}
/* message list */
.msgs-list{
    display: inline-block;
    width: 100%;
}
.msgs-list .row,.msg-content{
    margin: 0;
    background: #fff;
    border-radius: 5px;
    padding: 25px 20px;
    margin-bottom: 15px;
}
.msgs-list .new-msg{ background: #E7E7E7; }
.msgs-list .row h3{
    font-size: .9rem;
    color: #3F6DC9;
    margin-bottom: 3px;
}
.msgs-list .row .col-md-4:after,
.package .col-sm-8:after{
    content: '';
    position: absolute;
    top: -12px;
    left: 10px;
    width: 1px;
    height: calc(100% + 25px);
    background: #ccc;
}
.msgs-list .row h3>img{
    margin-left: 5px;
    width: 15px;
    margin-top: 4px;
}
.msgs-list .row .date{
    font-size: .8rem;
    color: #FFB3B3;
    margin-right: 21px;
}
.msgs-list .row p,.notificate-list p{
    color: #585858;
    font-size: .9rem;
    margin-bottom: 0;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.write-msg{ float: left;margin-top: 2rem;}
.write-msg:hover{ text-decoration: none;}
.main-btn,.sw-theme-default .toolbar>.btn{
    height: 35px;
    line-height: 26px;
    min-width: 151px;
    border-radius: 25px;
    color: #fff;
    font-size: .8rem;
    background: #FFC3C3;
    margin-top: 2rem;
    border: none;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
}
.main-btn:hover{ background: #f7b4b4;}
.main-form .form-control{ background: none; font-size: .9rem; }
.main-form form{ display: inline-block; width: 100%; }
.main-form form .btn{ float: left; }
.breadcrumb-style{ 
    background: none;
    border-bottom: 1px solid #ddd;
    border-radius: 0;
    margin-bottom: 30px;
    padding:0 0 10px 0;
}
.breadcrumb-style li{ color:#999 !important;}
.breadcrumb-style a{ color: #585858;}
.msg-content,.msg-content p{ margin-bottom: 0;}
.stories-list.sucsses-stories:after{display: none}
.sub-title{ 
    font-size: 1.2rem;
    color: #585858;
    margin-bottom: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
    font-family: SamimMed;
}
.members-tabs.nav-tabs{ border: none; min-height: 35px;}
.members-tabs.nav-tabs .nav-link{
    font-size: .9rem;
    padding: 3px 17px;
    color: #999;
    margin:0 0 10px 5px;
    border: none !important;
}
.members-tabs.nav-tabs .nav-link:hover{ border: none !important;}
.members-tabs.nav-tabs .nav-link.active{
    border: none;
    background: #3F6DC9;
    color: #fff;
    border-radius: 25px;
} 
.notificate-list .media{ margin-bottom: 15px;}
.notificate-list h5{ color: #3F6DC9; margin:0 0 10px 0;}
.notificate-list h5>span{ 
    float: left;
    color: #F5BBBB;
    font-size: .8rem;
    margin-top: 3px;
}
.notificate-list p{ font-size: .9rem; color: #585858;}
.notificate-list .media{ align-items: center;}
.notificate-list img{ width: 65px; height: 65px;}
.login-form,.forgot-password,.activation-form1{
    width: 280px;
    max-width: 100%;
    margin: 0 auto;
}
.login-form h3,.forgot-password h3,.activation-form1 h3{
    font-size: 1rem;
    text-align: center;
    margin: 30px 0;
    font-family: SamimMed;
}
.login-form .form-control,.forgot-password .form-control{ font-size: .8rem; border: none;}
.tel-input{ width: 70%;}
.select-country{ width: 25%;}
.forgot-psw{
    font-size: .8rem;
    float: left;
    color: #FFB3B3;
    margin: -10px 0 30px 0;
}
.forgot-psw:hover,.new-account a:hover{ color: #fff;}
.new-account{ font-size: .8rem; margin-top: 15px; }
.new-account a{ color: #FFB3B3;}
.mainmenu-header{ display: none;}
/* forgot form */
.forgot-form h5{ font-size: 1rem; color: #585858; margin-bottom: 25px;}
.forgot-form h3>img{ width: 22px; margin-left: 10px;}
.forgot-form form,.activation-form{ 
     width: 500px;
     max-width: 100%;
     display: inline-block
}
.forgot-form form .btn{ float: left;}
.forgot-form .form-control{ font-size: .9rem; background: none;}
.articles-list .media{ margin-bottom: 15px; overflow: hidden; border-radius: 5px;}
.articles-list img{
    width: 200px;
    height: 162px;
    border-radius: 0;
    object-fit: cover;
}
.articles-list .date{ color: #FFB3B3; font-size: .8rem; }
.articles-list .media-body{ padding: 15px 25px; }
.articles-list .media-body p{ 
    font-size: .9rem;
    margin-bottom: 10px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}
.btn:hover{ text-decoration: none;}
.article-img img{
    width: 100%;
    height: 400px;
    object-fit: cover;
    margin-bottom: 15px;
    border-radius: 5px;
}
.main-content p{ font-size: .9rem; color:#858484;}
.messages-list{ display: inline-block; width: 100%;}
.search-input .form-control,.search-input .input-group-text{ 
    border-radius: 0 25px 25px 0;
    border: none;
    background-color: #94b1ea;
    color: #fff;
    font-size: .9rem;
    padding: 0 18px;
}
.search-input .form-control{ padding-left: 0;}
.search-input .form-control::placeholder { color: #fff; }
.search-input .form-control:-ms-input-placeholder { color: #fff; }
.search-input .form-control::-ms-input-placeholder { color: #fff;}
.search-input .input-group-text{border-radius: 25px 0 0 25px; }
.form-control:focus,.btn:focus,textarea:focus{ box-shadow: none; outline: 0 none; }
.stepper li span{
    display: inline-block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: #ccc;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    position: absolute;
    bottom: -15px;
    right: -1px;
    z-index: 10;
}
.sw.sw-justified>.nav .nav-item:last-child .nav-link:after{display: none;}
.register-form .tab-content{ height: auto !important;}
.register-form .sub-title{ border: none;}
.register-form .sub-title>span{ 
    display: block;
    font-size: 1rem;
    color: #999;
    margin-top: 8px;
}
.register-form .tab-content h3{ font-size: 1rem;}
.register-form .tab-content p{
    font-size: .9rem;
    color: #858484;
    line-height: 26px;
}
.register-form .form-check{
    display: inline-block;
    border: 1px solid #ddd;
    padding: 10px 15px;
    border-radius: 5px;
    color: #858484;
    width: 220px;
}
.register-form .tab-content .form-check-input{ margin-right: 0; }
.register-form .form-check label{ padding-right: 22px; }
.select-option img{
     width: 120px;
     height: 120px; 
     object-fit: cover;
     border-radius: 5px;
     cursor: pointer;
     margin-left: 15px;
}
.select-option .active{ border: 5px solid #ccc; border-radius: 10px;}
.sw-btn-prev{ background: #585858 !important;}
.sw-theme-default .toolbar>.btn{ margin-top: 10px;}
.note{ font-size: .8rem; color: #585858;}
.smoking{ float: left;}
.smoking div:first-child{ width: 100px;}
/* profile data */
.data-block h5{ font-size: 1rem;}
.data-block div,.member-details{
    background: #fff;
    border-radius: 5px;
    padding: 15px;
}
.data-block div p,.member-details p{font-size: .9rem; color: #7b7b7b; margin-bottom: 5px;}
.data-block div p:last-child{ margin-bottom: 0;}
.data-block div p>span{ float: left;}
.settings{ display: inline-block; width: 100%;}
.settings .custom-switch{
    background: #fff;
    height: 38px;
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 8px 55px;
    font-size: .9rem;
}
.settings .form-control{ border: none; font-size: .9rem;}
.allow-them{
    background: #fff;
    padding: 20px;
    border-radius: 5px;
}
.allow-them .form-control{ border: 1px solid #ddd;}
.allow-them h5{ font-size: 1rem; margin-bottom: 20px;}
.settings .btn{ float: left;}
/* activation form */
.activation-form{ background: #fff; padding: 20px; border-radius: 5px;}
.activation-form h5{ font-size:1rem; text-align: right;}
.activation-form h5>img{ width: 19px; margin-left: 10px;}
.activation-form p{ font-size: .9rem; color: #858484;}
.activation-form .form-control,.activation-form1 .form-control{
    width: 40px;
    height: 46px;
    margin: 0 5px;
    padding: 5px;
    background: #eee;
    border: none;
}
.activation-form .btn-link{ color: #858484; font-size: .8rem;}
.forgot-password{ display: none;}
.forgot-password .note{ color: #fff; margin-top: -10px;}
.activation-form1{ display: none}
.activation-form1 .btn-link{ color: #fff; font-size: .8rem;}
.activation-form1 p{ font-size: .8rem; color: #fff;}
.activation-form1 .form-control{ background: #94B1EA;}
.activation-form,.register-steps{ display: none;}
.owl-carousel *{ direction: ltr; }
/* packages-list */
.packages-content{
    padding: 15px;
    background: #fff;
    border-radius: 5px;
    font-size: .9rem;
}
.packages-content h5{ font-size: 1rem; margin-bottom: 15px;}
.packages-content h5>img{ width: 20px; margin-left: 10px;}
.packages-description{ color: #585858; position: relative; padding-right: 15px;}
.packages-description::before{
    content: '';
    position: absolute;
    top: 8px;
    right: 0;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background:  #585858;
}
.package:nth-child(1){ background: #FDBF00; }
.package:nth-child(2){ background: #94B1EA; }
.package:nth-child(3){ background: #D8D8D8; }
.package{
    padding: 15px;
    border-radius: 5px;
    color:#fff;
    margin-bottom: 15px;
    align-items: center;
}
.package:last-child{ margin-bottom: 0;}
.package p{ color:#FFF; font-size: .9rem; margin-bottom: 10px;}
.package p:last-child{ margin-bottom: 0;}
.package .btn{
    font-size: .7rem;
    width: 120px;
    margin: 0 auto;
    display: block;
}
.package h2, .package span{ margin: 0;}
.package .col-sm-8:after {
    background: #fff;
    right: -10px;
    left: auto;
    top:0px;
    height: 100%;
}
.package-details,.search-form { display: inline-block; width: 100%;}
.package-details .package{ background: #FDBF00;}
.payment h5{ font-size: 1rem;}
.account{
    background: #D8D8D8;
    padding: 15px;
    color: #541F5B;
    border-radius: 5px;
}
.payment p{margin-bottom: 3px; font-size: .9rem;}
.account p:last-child{ margin-bottom: 0;}
.package-details .btn{ float: left;}
.image-upload{
    border-radius: 5px;
    border: 1px solid #ddd;
    padding: 15px;
    margin-top: 20px;
    cursor: pointer;
}
.image-upload>input { display: none;}
.image-upload label{ width: 100%;cursor: pointer; font-size: .9rem;}
.image-upload label img{ width: 20px; float: left; margin-top: 2px;}
/* search-form  */
.search-form .btn{ float: left;}
.noUi-target{ 
    height: 7px; 
    box-shadow: none;
    border: none; 
    background: #ddd;
}
.noUi-connect{ background: #3F6DC9;}
.noUi-horizontal .noUi-handle{
    width: 16px;
    height: 16px;
    box-shadow: none;
}
.noUi-txt-dir-rtl.noUi-horizontal .noUi-handle {left: -8px;}
.noUi-handle:after, .noUi-handle:before{ display: none;}
.noUi-horizontal .noUi-tooltip{
    font-size: .9rem;
    color: #585858;
    font-family: SamimMed;
    background: #F5BBBB;
    border: none;
    width: 30px;
    height: 30px;
    line-height: 22px;
    border-radius: 50%;
}
/* chat */
.chat .notificate-list .media{
    background: none;
    padding: 0;
}
.chat .notificate-list  h5>span {
    width: 30px;
    height: 25px;
    text-align: center;
    font-size: 1rem;
    color: #585858;
    cursor: pointer;
}
.chat-box { 
    padding-left: 20px; 
    overflow-y: scroll; 
    height: 370px;
    margin-bottom: 30px;
}
.chat-r .sp { flex: 1;}
.chat-l .sp { flex: 1;}
.mess{ overflow: hidden;}
.chat-box .mess p{
	max-width: 300px;
    background: #F5F4F4;
    padding: 10px;
	border-radius: 7px;
    margin:0px 0 5px 0;
    font-size: .8rem;
    color: #585858;
    cursor: pointer;
    position: relative;
}
.chat-box .mess p::after{
    content: '';
    position: absolute;
    bottom: -7px;
    left: -7px;
    width: 14px;
    height: 14px;
    background: #F5F4F4;
    transform: rotate(45deg);
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -o-transform:rotate(45deg);
}
.chat-box .mess-r p::after{
    left: auto;
    right: -7px;
    background: #FFC3C3;
}
.chat-box .mess-r p>img{ object-fit: contain; margin: 5px 0 0 5px;}
.chat-box .mess-r p{ 
    background: #FFC3C3; 
    display: flex;
    align-items: flex-start;
}
.chat-box .check { float: left; padding: 0 5px; }
.chat-box .check span { color: #888; font-size: .7rem; }
.chat-box::-webkit-scrollbar { width: 5px; }
.chat-box::-webkit-scrollbar-track { background: #f1f1f1; }
.chat-box::-webkit-scrollbar-thumb { background: #ccc; }
.chat-box::-webkit-scrollbar-thumb:hover { background: #999;}
.chat-footer {
	justify-content: center;
    align-items: center;
}
.chat-footer .txt-input {
	height: 40px;
    line-height: 40px;
    border-radius: 60px;
    padding: 0 10px;
    font-size: .9rem;
    border: 1px solid #ddd;
    color: #585858;
    width: calc(100% - 60px);
}
.chat-footer textarea{
    resize: none;
    border: none;
    padding: 6px 10px;
    height: 40px;
    line-height: normal;
    background: none;
    flex-grow: 1;
}
.chat-date{
    text-align: center;
    border-bottom: 1px solid #eee;
    margin-bottom: 15px;
}
.chat-date span{
    font-size: .7rem;
    color: #999;
    background: #FAFAFA;
    position: relative;
    bottom: -12px;
    padding: 3px 15px;

}
.add-img,.emoji{ 
    width: 30px; 
    text-align: center;
    cursor: pointer;
}
.mic,.send{
	display: block;
    width: 40px;
    min-width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    margin-left: 20px;
    background: #3F6DC9;
    text-align: center;
    color: #fff;
    cursor: pointer;
}
.send{ display: none}
/* member details */
.last-seen{
    font-size: .7rem;
    background: #94B1EA;
    color: #fff;
    padding: 5px 20px;
    border-radius: 5px;
    opacity: .5;
}
.member-img{ 
    position: relative;
    width: 160px;
    height: 160px;
    display: block;
    margin: 25px auto;  
}
.member-img img{
    width: 160px;
    height: 160px;
    border-radius: 50%;
    object-fit: cover;
    opacity: .4;
}
.member-img .btn{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    font-size: .8rem;
    height: 37px;
    background: #585858;
    border: none;
    box-shadow: 1px 1px 5px #585858;
}
.member-img .status-badge{
    width: 20px;
    height: 20px;
    right: 16px;
}
.member-info h5{
    font-family: SamimMed;
    font-size: 1.5rem;
    color: #585858;
}
.member-info p{
    color: #585858;
    margin-bottom: 5px;
    font-size: .9rem;
}
.member-info .note{ color: #FFC3C3;}
.actions-btn .btn{
    height: 38px;
    min-width: 100px;
    font-size: .8rem;
    padding: 4px 15px;
    margin: 3px;
    border-radius: 25px;
    border: none;
}
.actions-btn .btn img{ width: 17px; margin-left: 5px;}
.actions-btn .add-fav{ background: #F5BBBB; color: #585858;}
.actions-btn .chatbtn{ background: #94b1ea;}
.actions-btn .block{ background: #2E5EBF;}
.actions-btn .report{ background: #EB5A5A;}
.member-details{ text-align: right; }
.member-details h5{ font-size: 1rem;}
/* sec theme */
.sec-theme #sidebar,.sec-theme .packages .owl-item > div
,.sec-theme .status{ box-shadow: 1px 2px 4px #efa1a1;}
.sec-theme #sidebar,.sec-theme .footer{background: #f3b4b4; }
.sec-theme #sidebar .sidebar-header { 
    background: url(../imgs/mask2.png)no-repeat;
    background-size: cover;
}
.sec-theme .banner{ 
    background: url(../imgs/bg2.png) no-repeat right bottom;
    background-size: 60% 100%;
}
.sec-theme .edit-btn,
.sec-theme .user-data .btn{ background: #3F6DC9;}
.sec-theme .main-list li a:hover:after,.sec-theme .activeitem a:after{background: #f3b4b4;}
.sec-theme .main-btn,.sec-theme .sw-theme-default .toolbar>.btn{ background: #3F6DC9;}
.sec-theme .forgot-psw,.sec-theme .new-account a{ color: #3F6DC9;}
.sec-theme .social-link a{ color: #f4bbbb;}
.sec-theme .copyright,.sec-theme .members,.sec-theme .account-status .btn,
.sec-theme .cir-icon,.sec-theme .four-icons .col-3:after,
.sec-theme .activation-form1 .form-control,
.sec-theme .members-tabs.nav-tabs .nav-link.active{ background: #efa1a1;}
.sec-theme .sucsses-stories:after{ background: #fde3e3;}
.sec-theme .subscribers-list .btn,
.sec-theme .articles-list .btn{background: #3F6DC9; color: #fff;}
.sec-theme .main-btn:hover{ background: #3663be;}
.sec-theme .toggle-btn{ background: #f4bbbb;}
.page-header{ 
    background: #f4bbbb;
    width: calc(100% - 380px);
    right: 380px;
    box-shadow: 1px -1px 4px #efa1a1;
    z-index: 100;
}
.page-header .toggle-btn{ 
    position: static;
     width: 50px; 
     margin-right: 15px;
     display: none
}
.sec-theme .page-header{ 
    background: #3F6DC9;
    box-shadow: 1px -1px 4px #3663be;
}
.page-header .navbar-brand { flex-grow: 1;}
.page-header .navbar-brand img{ width: 60px;}
.page-header .search-input .form-control, 
.page-header .search-input .input-group-text{ background: #efa1a1;}
.sec-theme .page-header .search-input .form-control,
.sec-theme .page-header .search-input .input-group-text{ background: #174AB3;}
.sec-content{ padding-top: 85px;}
/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
    #sidebar { width: 320px; }
    .page-header{ width: calc(100% - 320px); right: 320px;}
    #content { width: calc(100% - 320px); right: 320px; }
    .p-5{ padding:2rem 1rem !important; }
    .stories-item .media img { margin-left: 15px !important; }
    .user-data .form-group,.user-data .btn{ margin-bottom: 10px;}
    .banner h1 {
        font-size: 1.4rem;
        width: 339px;
        left: 50px;
        bottom: 220px;
        line-height: 32px;
    }
    .user-data{ padding-bottom: 10px; }
    .user-data .form-group { width: 143px; }
    .user-data .form-group,.user-data .btn{ margin-bottom: 10px;}
}
/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    #sidebarCollapse{ opacity: 1; }
    #sidebar { right: -295px; width: 290px;}
    #sidebar.active {right: 0;}
    #sidebar .sidebar-header { padding-top: 5px;}
    .page-header{ width: 100%; right: 0;}
    .sidemenu{ padding: 15px; }
    .two-btns .col-6{padding: 0 5px;}
    .cir-btn,.status a{ margin-right: 13px;}
    .cir-icon{ display: none;}
    .packages h2 {font-size: 1.4rem;}
    .packages p{height: 50px;overflow: hidden;}
    .packages span{margin-bottom: 5px;}
    #content{width: 100%; right: 0;}
    .footer .d-flex{justify-content: center;margin: auto;}
    .members {
        width: 289px;
        max-width: 100%;
        margin-bottom: 1rem !important;
    }
    .banner{height: 440px;}
    .banner-img{width: 352px; max-width: 100%;}
    .banner h1 {bottom: 170px;}
    .user-data .form-group,.user-data .btn{margin-bottom: 0;}
    .close-menu{ display: block;}
    .article-img img{ height:330px;}
    .page-header .toggle-btn{ display: block;}
}
/* Small devices (landscape phones, less than 768px) */
@media (max-width: 768px) {
    .banner h1 {
        font-size: 1.2rem;
        width: 100%;
        bottom: 136px;
        left: 0;
        right: 0;
        line-height: 27px;
        margin: auto;
        background: rgba(255,255,255,.8);
        padding: 15px 25px;
        text-align: center;
    }
    .p-5{ padding:2rem 1rem !important;}
    .px-5{
        padding-right: 1rem!important;
        padding-left: 1rem!important;
    }
    .user-data{ bottom: 0; padding-bottom: 15px; }
    .user-data .form-group,.user-data .btn{ margin-bottom: 10px;}
    .toggle-btn img {width: 50px}
    #sidebarCollapse{ right: 30px;top: 35px;}
    .logo-btn{left: 25px;top: 20px;}
    .main-title,.sub-title{font-size: 1rem}
    .data-block h5 {font-size: .9rem; }   
    .msgs-list .row .col-md-4:after{ display: none;}
    .story-block,.subscribers-list .col-md-6{ margin-bottom: 15px;}
    .logo-btn img{ width:65px; }
    .articles-list img{ width: 150px; height: 141px; margin: 0 !important; }
    .articles-list .media-body{ padding: 15px;}
    .articles-list .media-body p{ -webkit-line-clamp: 2; }
    .article-img img{ height: 280px;}
    .select-option img{ width: 80px; height: 80px;} 
    .container { max-width: 650px;}
    .member-img img,.member-img{ width: 140px; height: 140px;}
    .member-info h5 {font-size: 1.2rem;}
}
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .package{ text-align: center;}
    .package .col-sm-8:after{ display: none;}
    .member-img img,.member-img{ width: 120px; height: 120px;}
    .member-img .btn{ font-size: .6rem;}
}
@media (max-width: 400px) {
    .user-data .form-group { width: calc(50% - 10px);}
    .banner h1 {bottom: 174px;}
    .toggle-btn img { width: 45px;}
    .user-data .btn {margin-bottom: 0px;}
    #sidebarCollapse{left: 20px;}
    .stories-item .media img{
        width: 70px;
        height: 70px;
        margin-left: 10px !important;
    }
    .footer img {width: 100%; height: 36px; }
    .articles-list img { width: 110px;}
    .article-img img{ height:210px;}
    .footer .d-flex { width: 100%; }
    .notificate-list img,.subscribers-list .item-img>img{ width: 55px; height: 55px; }
    .notificate-list h5 { font-size: .9rem;}
    .notificate-list h5>span { font-size: .7rem; margin-top: 0; }
    .notificate-list p {font-size: .8rem;}
    .subscribers-list h5, .notificate-list h5 { font-size: .9rem;}
    .star-badge { right: -8px; top: 0px; }
    .status-badge{ right: -3px; top: 5px; }
    .p-5 { padding: 2rem .5rem !important;}
    .data-block div p,.member-details p{font-size: .8rem;}
    .select-country {width: 27%}
    .search-input{ width: 150px;}
    .page-header .navbar-brand img { width: 50px;}
}